body {
	text-align: center;
}

a {
	font-weight: bold;
}

#stuff {
	margin: 10px auto;
}

.thump {
	height: 100px;
}

.title {
	font-weight: bold;
}

thead {
	font-weight: bold;
}

table td {
	border: 1px solid black;
	margin: 0px;
}