[
	{
		"title": "ATSC stick",
		"owner": "M",
		"quantity": 1,
		"retail": 67.63,
		"price": 0,
		"description": "USB stick to receive over-the-air TV",
		"urls": ["http://www.amazon.com/Hauppauge-1191-WinTV-HVR-950Q-Personal-Recorder/dp/B001DEYVXO"],
		"images": ["http://ecx.images-amazon.com/images/I/41dqiGLbvDL.jpg"]
	},
	{
		"title": "Headphones",
		"owner": "M",
		"quantity": 1,
		"retail": 161.99,
		"price": 130,
		"description": "Beyerdynamics DT 770 pro, 250ohm",
		"urls": ["http://www.amazon.com/Beyerdynamic-770-PRO-250-ohms/dp/B0006NL5SM"],
		"images": ["http://ecx.images-amazon.com/images/I/71yAY4QEjJL._SL1500_.jpg"]
	}
]